<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-img id="header-img" src="./../../assets/icons/designed-for-life-logo.png" alt="Edge Homes"></ion-img>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <div id="container">
        <strong>
            <h1>Add an Existing Home</h1>
        </strong>
        <p>
            Tap the camera to scan the QA code. The QR code can be found on the electrical panel of homes completed in 2021 or later.
        </p>
        <div>
            <span>
                or enter your access code here:
            </span>
            <ion-input type="text"></ion-input>
        </div>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-row class="footer-background">
            <ion-col>
                <ion-button size="large" fill="clear">
                    <ion-img class="footer-img" src="./../../assets/icons/home.png"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button size="large" fill="clear">
                    <ion-img class="footer-img" src="./../../assets/icons/explore.png"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button size="large" fill="clear">
                    <ion-img class="footer-img" src="./../../assets/icons/profile.png"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button size="large" fill="clear">
                    <ion-img class="footer-img" src="./../../assets/icons/more.png"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>