<ion-header [translucent]="true" class="ion-no-border">
    <ion-card class="home-card">
        <ion-item lines="none" class="item-background-color">
            <ion-row class="center-align">
                <!-- <img src="{{userSpecificHome.documents[0].url}}" class="home-avatar"> -->
            </ion-row>
        </ion-item>
        <ion-item lines="none" class="item-background-color">

            <ion-row class="center-align">
                <ion-label>
                    <p class="home-name">{{userSpecificHome.name}}</p>
                    <!-- <p class="home-status">{{userSpecificHome.status}}</p> -->
                </ion-label>
            </ion-row>
        </ion-item>
        <ion-item lines="none" class="item-background-color">
            <ion-row class="center-align width-90">
                <ion-col>
                    <h3 class="profile-header">Agent</h3>
                    <a [routerLink]="['/profile', {id: userSpecificHome.sales_agent.id}]" class="profile-link">{{userSpecificHome.sales_agent.name}}</a>
                </ion-col>
                <ion-col>
                    <h3 class="profile-header">Designer</h3>
                    <a [routerLink]="['/profile', {id: userSpecificHome.designer.id}]" class="profile-link">{{userSpecificHome.designer.name}}</a>
                </ion-col>
                <ion-col>
                    <h3 class="profile-header">Builder</h3>
                    <a [routerLink]="['/profile', {id: userSpecificHome.designer.id}]" class="profile-link">{{userSpecificHome.designer.name}}</a>
                </ion-col>
            </ion-row>
        </ion-item>
        <ion-item lines="none" class="item-background-color">
            <ion-row class="center-align">
                <ion-button class="edit-home" size="default" fill="clear">Edit Home</ion-button>
            </ion-row>
        </ion-item>
    </ion-card>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="photos">
            <ion-label class="segment">Photos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="design">
            <ion-label class="segment">Design</ion-label>
        </ion-segment-button>
        <ion-segment-button value="progress">
            <ion-label class="segment">Progress</ion-label>
        </ion-segment-button>
        <ion-segment-button value="more">
            <ion-label class="segment">More...</ion-label>
        </ion-segment-button>
    </ion-segment>
    <!-- <ion-tabs>
        <ion-tab-bar>
            <ion-tab-button tab="photos">
                <ion-label>Photos</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="design">
                <ion-label>Design</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="progress">
                <ion-label>Progress</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="more">
                <ion-label>More...</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs> -->
</ion-content>
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-row class="footer-background">
            <ion-col>
                <ion-button size="large" fill="clear" (click)="navigateToHome()">
                    <ion-img class="footer-img" src="./../../assets/icons/home.png"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button size="large" fill="clear" (click)="navigateToExplore()">
                    <ion-img class="footer-img" src="./../../assets/icons/explore.png"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button size="large" fill="clear" (click)="navigateToSelf()">
                    <ion-img class="footer-img" src="./../../assets/icons/profile.png"></ion-img>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button size="large" fill="clear" (click)="navigateToFooterMore()">
                    <ion-img class="footer-img" src="./../../assets/icons/more.png"></ion-img>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>