.home-card {
    padding: 15px;
    background: #fff;
}

.edit-home {
    background-color: orange;
    color: white;
    border-radius: 30px;
    padding: 0 20px;
    text-transform: none;
}

.profile-header {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.profile-link {
    font-size: 12px;
    color: orange;
    text-decoration: underline;
    text-align: center;
}

.home-avatar {
    margin: 10px auto;
    border-radius: 50%;
    height: 50%;
    width: 50%;
}

.home-name {
    font-size: 1.5em;
    font-weight: bolder;
}

.home-status {
    text-align: center;
}

.item-background-color {
    --ion-item-background: #ffffff;
}

.center-align {
    margin: auto;
}

.width-90 {
    width: 90%;
}

.segment {
    text-transform: none;
    font-weight: bold;
}

// header
#header-img {
    margin: auto;
    height: 4em;
    width: auto;
    margin: 2em 0;
}

//Footer
.footer-background {
    background-color: #ffffff;
    border-radius: 30px;
}

.footer-img {
    height: 50%;
    width: 50%;
}


/* RESPONSIVE CSS
  -------------------------------------------------- */

@media screen and (max-width: 768px) {
    .flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}

.flex-container .flex-box {
    display: inline-block;
    margin-right: 15px;
    width: 150px;
    height: 150px;
    margin-bottom: 5px;
    background-color: #f1f1f1;
    border: solid 1px #f1b600;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
    position: relative;
}

.flex-container .flex-box img {
    width: 150px;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.flex-container .flex-box .icon-heart {
    position: absolute;
    bottom: 0;
    left: 5px;
    cursor: pointer;
}

.flex-container .flex-box .icon-share {
    position: absolute;
    bottom: 0;
    right: 5px;
    cursor: pointer;
}

.flex-container .flex-box.videos {
    height: 200px !important;
}

.flex-container .flex-box:last-child {
    margin-right: 0px;
}

.previews {
    padding: 15px 0;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .previews .previews-container {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
}

.previews .previews-container {
    display: -ms-grid;
    display: grid;
    grid-gap: 1em;
    -ms-grid-columns: minmax(170px, 1fr) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

@media screen and (max-width: 416px) {
    .previews .previews-container {
        -ms-grid-columns: none;
        grid-template-columns: none;
        display: inline-block;
    }
}

.previews .previews-container .flex-circle {
    background: transparent;
    height: 85px;
    width: 85px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    border: solid 2px #f1b600;
    overflow: hidden;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

@media screen and (max-width: 416px) {
    .previews .previews-container .flex-circle {
        height: 85px;
        width: 85px;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media screen and (max-width: 370px) {
    .previews .previews-container .flex-circle {
        height: 85px;
        width: 85px;
        display: inline-block;
        margin-right: 10px;
    }
}

.previews .previews-container .flex-circle img {
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.previews .previews-container .flex-circle:last-child {
    margin-right: 0px;
}